.border{
    border: 2px solid  red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
    background: #444; /* Darker color for the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter color on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #2c2c2c; /* Thumb and track color */
}

